$primary-color: #4f46e5;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f3f4f6;
  color: #111827;
}

h1 {
  color: $primary-color;
  font-size: 35px;
  margin-bottom: 20px;
}
