$primary-color: #4f46e5; // Tailwind Indigo-600

body {
  font-family: sans-serif;
  background-color: #f3f4f6; // Tailwind Gray-100
  color: #111827; // Tailwind Gray-900
}

h1 {
  color: $primary-color;
}
